eval "$(lorri direnv)"

NINJA_STATUS="[Built edge %f of %t in %e sec]"
PATH=$PATH:$(dirname $(find /nix -name run-clang-tidy.py))

layout pipenv
PSI4_STAGED_LIB="$(pwd)/build_vector-matrix/stage/lib"
echo "Don't forget to update PSI4_STAGED_LIB!!!"
echo "  It's currently set to $PSI4_STAGED_LIB"
pyver=$(pipenv run python -c "import sys; print('{}.{}'.format(sys.version_info[0], sys.version_info[1]))")
export PYTHONPATH=$PSI4_STAGED_LIB:$(pipenv --venv)/lib/"python${pyver}"/site-packages:$PYTHONPATH

gtags --gtagslabel=ctags --quiet
