[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
pint = "*"
pydantic = "*"
qcengine = "*"
msgpack = "*"
qcelemental = "*"

[dev-packages]
ipython = "*"
pytest = "*"
yapf = "*"
pre-commit = "*"
jupyterlab = "*"
