[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

deepdiff = "*"
networkx = "*"
numpy = "*"
pint = "*"
pydantic = "*"
qcelemental = "*"
qcengine = "*"


[dev-packages]

ipython = "*"
pytest = "*"
yapf = "*"
pre-commit = "*"
